<!DOCTYPE HTML>
<html>

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Nav CSS -->
    <link href="../static/css/custom.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- Graph JavaScript -->
    <script src="../static/js/d3.v3.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.js"></script>
    <!-- Vue.js -->
    <script src="../static/js/vue.js"></script>
    <!-- Mapbox GL -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />
    <!-- Mapbox GL Draw Tool -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v0.16.0/mapbox-gl-draw.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v0.16.0/mapbox-gl-draw.css' type='text/css' />
</head>

<body>
<style>
.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}
</style>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">民航大数据</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu" v-if="flightinfo">
                        <table class="table">

                        </table>
                    </ul>
                    <ul id="repeat-object">
                        <li v-for="value in object">
                            object:{{ object }}
                            value:{{ value }}
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    </div>
    <div id="page-wrapper">
        <div class="graphs">
            <!-- 4 Buttons -->
            <div class="col_3">
                <div class="col-md-3 widget widget1">
                    <div class="r3_counter_box">
                        <i class="pull-left fa fa-thumbs-up icon-rounded"></i>
                        <div class="stats">
                            <h5><strong>机场</strong></h5>
                            <span>机场分布信息</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 widget widget1">
                    <a href="/airline">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-users user1 icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>航线</strong></h5>
                                <span>航线分布信息</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 widget widget1">
                    <div class="r3_counter_box">
                        <i class="pull-left fa fa-comment user2 icon-rounded"></i>
                        <div class="stats">
                            <h5><strong>航班</strong></h5>
                            <span>实时航班数据</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 widget">
                    <div class="r3_counter_box">
                        <i class="pull-left fa fa-dollar dollar1 icon-rounded"></i>
                        <div class="stats">
                            <h5><strong>航区</strong></h5>
                            <span>航区分布信息</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="span_11">
                <!-- Bing 地图 -->
                <div id="map" style="width:100%;height:600px;">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
    <script type='text/javascript'>
        console.log("Drawing main map...");
        var flightInfo = {
            FirstName: 'John',
            LastName: 'Doe',
            Age: 30
        };

        //Vue
        var v = new Vue({
            el: '#repeat-object',
            data: {
            object: flightInfo,
            flightinfo:false,
          }
        })

        //mapbox GL地图函数
        mapboxgl.accessToken = 'pk.eyJ1Ijoic3R1cGlnIiwiYSI6ImNpanV2c211bTBoaGp0c204cDFhNGltMW8ifQ.i2d7l3ljIr4GvyLWj6Hh3w';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            zoom: 5,
            minZoom: 2,
            center: [116.46, 39.92],
            renderWorldCopies: true,
        });
        //MapboxDraw Tool
        var draw = new MapboxDraw({
            displayControlsDefault:false,
            styles: [
                // line stroke
                {
                    "id": "gl-draw-line",
                    "type": "line",
                    "filter": ["all", ["==", "$type", "LineString"], ["!=", "mode", "static"]],
                    "layout": {
                      "line-cap": "round",
                      "line-join": "round"
                    },
                    "paint": {
                      "line-color": "#D20C0C",
                      "line-width": 4
                    }
                },
            ]
        });
        map.addControl(draw);

        map.on('zoomend',function () {
            getdatabyrect();
        })
        map.on('moveend',function(){
            getdatabyrect();
        })
        map.on('click', function (e) {
            if(e.originalEvent.target.id.match('flight_marker'))
            {
                id = e.originalEvent.target.id.replace('flight_marker_','')
                jQuery.ajax({
                    url: "/getDataByID/" + id,
                    success: function (data) {
                        document.getElementsByClassName('table')[0].innerHTML = '这是table_'+id+'<br>'+data;
                        console.log(data);
                    }
                })
                jQuery.ajax({
                    url: "/getRouteByID/" + id,
                    success: function (data) {
                        data.forEach(function (route) {
                            if(route.length > 1)
                            {
                                draw.add({ type: 'LineString', coordinates: route});
                            }
                        })
                    }
                })
            }

        })

        function stdlnglat(lnglats){
            s = [Math.floor(lnglats[0][0]), Math.floor(lnglats[0][1]), Math.ceil(lnglats[1][0]), Math.ceil(lnglats[1][1])]
            return s;
        }
        function getdatabydate() {
            jQuery.ajax({
                url: "/getDataByDate/2017-01-23",
                success: function (data) {
                    console.log(new Date().getSeconds())
                    console.log("Successfully load data from API server.");

                    for(var i in data) {
                        var img = document.createElement('img');
                            img.src = '../static/images/airplane_2.svg'
                            img.style.width = '30px';
                            img.style.height = '30px';

                            // add marker to map
                            var m = new mapboxgl.Marker(img)
                                .setLngLat([data[i].lon,data[i].lat])
                                .addTo(map);
                    }
                    console.log(new Date().getSeconds());
                    console.log("Successfully draw pushpins");
                }
            })
        }
        function getdatabyrect() {
            jQuery.ajax({
                url: "/getDataByRect/"+stdlnglat(map.getBounds().toArray())+','+Math.ceil(map.getZoom()),
                success: function (data) {
                    parent = document.getElementsByClassName('mapboxgl-canvas-container mapboxgl-interactive')[0];
                    while(parent.childNodes.length > 1)
                    {
                        parent.removeChild(parent.lastChild);
                    }
                    for(var i in data) {
                        var img = document.createElement('img');
                            img.src = '../static/images/airplane_2.svg';
                            img.id = 'flight_marker_' + data[i].id;
                            img.style.width = '30px';
                            img.style.height = '30px';

                        // add marker to map
                        var m = new mapboxgl.Marker(img)
                                .setLngLat([data[i].lon,data[i].lat])
                                .addTo(map);
                    }
                }
            })
        }
        function getTableHTML() {

        }
        getdatabyrect();
    </script>

</body>

</html>
