<!DOCTYPE HTML>
<html>

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Nav CSS -->
    <link href="../static/css/custom.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- Graph JavaScript -->
    <script src="../static/js/d3.v3.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.js"></script>
    <!-- Vue.js -->
    <script src="../static/js/vue.js"></script>
    <!-- Mapbox GL -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
<style>
.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}
</style>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">民航大数据</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>#</th>
                                <th>Column heading</th>
                                <th>Column heading</th>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>机型：</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>代码：</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>高度：</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>发动机型号：</td>
                                <td>Column content</td>
                            </tr>
                            </tbody>
                        </table>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    </div>
    <div id="page-wrapper">
        <div class="graphs">
            <!-- 4 Buttons -->
            <div class="col_3">
                <div class="col-md-3 widget widget1">
                    <div class="r3_counter_box">
                        <i class="pull-left fa fa-thumbs-up icon-rounded"></i>
                        <div class="stats">
                            <h5><strong>机场</strong></h5>
                            <span>机场分布信息</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 widget widget1">
                    <a href="/airline">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-users user1 icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>航线</strong></h5>
                                <span>航线分布信息</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 widget widget1">
                    <div class="r3_counter_box">
                        <i class="pull-left fa fa-comment user2 icon-rounded"></i>
                        <div class="stats">
                            <h5><strong>航班</strong></h5>
                            <span>实时航班数据</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 widget">
                    <div class="r3_counter_box">
                        <i class="pull-left fa fa-dollar dollar1 icon-rounded"></i>
                        <div class="stats">
                            <h5><strong>航区</strong></h5>
                            <span>航区分布信息</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="span_11">
                <!-- Bing 地图 -->
                <div id="map" style="width:100%;height:600px;">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
    <script type='text/javascript'>
        console.log("Drawing main map...");

        /*
        // Bing地图函数
        function loadMapScenario() {
            // Bing 地图部分
            var myCenter = new Microsoft.Maps.Location(35, 110);
            var mapProp = {
                center: myCenter,
                zoom: 5,
                mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                maxZoom: 18,
                minZoom: 3,
                credentials: 'Al3qJxrVEmMYhynjadXtSLXGl7S_JidYTxydqwa5hiKLMevOXvSRD1Nu71af40zl'
                // This key belongs to michaelma7864@outlook.com, for test purposes only
            };
            var map = new Microsoft.Maps.Map(document.getElementById("bingMap"), mapProp);

            // Use jQuery to access API, returned data is stored in variable data
            // 使用 jQuery 访问 API 服务器，返回的数据保存在变量 data 中
            test();
            console.log(new Date().getSeconds());
//            var intervalID = window.setInterval(drawPushpins,10000);
            function drawPushpins() {
                jQuery.ajax({
                    url: "http://219.224.134.225:5050/real-time",
                    success: function (data) {
                        console.log(new Date().getSeconds());
                        map.entities.clear();

                        console.log("Successfully load data from API server.");
                        console.log(data);
                        var pushpins = JSON.parse(data);
                        console.log(pushpins)
                        for (var i in pushpins) {
                            var location = new Microsoft.Maps.Location(pushpins[i]["lat"], pushpins[i]["lon"]);
                            // num1 is the direction of the flight, this number is passed to createPushpin to create a icon with right direction
                            // num1 是飞机的方向，把此数值传给 createPushpin 来生成不同朝向的图标
                            var pushpin = createPushpin(location, pushpins[i]["num1"]);
                            map.entities.push(pushpin);
                        }

                        console.log("Successfully draw pushpins")
                    }
                })
            }
            function test() {
                jQuery.ajax({
                    url: "/getDataByDate/2017-01-23",
                    success: function (data) {
                        console.log(new Date().getSeconds())
                        map.entities.clear();
                        pushpins = data;

                        console.log("Successfully load data from API server.");
                        for (var i in pushpins) {
                            var location = new Microsoft.Maps.Location(pushpins[i]["lat"], pushpins[i]["lon"]);
                            // num1 is the direction of the flight, this number is passed to createPushpin to create a icon with right direction
                            // num1 是飞机的方向，把此数值传给 createPushpin 来生成不同朝向的图标
                            var pushpin = createPushpin(location, pushpins[i]["num1"]);
                            map.entities.push(pushpin);
                        }
                        console.log(new Date().getSeconds())
                        console.log("Successfully draw pushpins")
                    }
                })
            }

            function createPushpin(location, rotate) {
                var svg = ['<svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 200 200"><g class="transform-group"><g transform="scale(0.01953125, 0.01953125) rotate(',rotate,',500,500)"><path d="M730.214 877.238l50.625-42.662-47.408-484.26c125.086-132.575 169.91-189.211 152.455-212.15-22.94-17.456-79.576 27.316-212.15 152.455l-484.261-47.461-42.662 50.625 368.982 150.979-184.148 185.731-116.016-30.955-81.105 56.32 144.756 59.958c-4.115 3.375-34.964 39.393-37.283 62.279-0.106 1.213 0.738 1.793 1.793 2.109 0.317 1.055 0.949 1.952 2.109 1.793 22.887-2.32 58.904-33.17 62.279-37.283l59.958 144.756 56.32-81.106-30.955-116.016 185.73-184.148 150.979 369.036z" fill="#ea8010"></path></g></g></svg>'];

                //Create a pushpin from the SVG.
                return new Microsoft.Maps.Pushpin(location, {
                    icon: svg.join(''),
                    anchor: new Microsoft.Maps.Point(0, 0)
                });
            }
        }
        */

        //mapbox GL地图函数
        mapboxgl.accessToken = 'pk.eyJ1Ijoic3R1cGlnIiwiYSI6ImNpanV2c211bTBoaGp0c204cDFhNGltMW8ifQ.i2d7l3ljIr4GvyLWj6Hh3w';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            zoom: 5,
            center: [116.46, 39.92],
            renderWorldCopies: false,
        });
        function test() {
            jQuery.ajax({
                url: "/getDataByDate/2017-01-23",
                success: function (data) {
                    console.log(new Date().getSeconds())
                    pushpins = data;
                    console.log("Successfully load data from API server.");

                    for(var i in pushpins) {
                        console.log(pushpins[i]);
                            var el = document.createElement('div');
                                el.id = pushpins[i].flight;
                                el.className = 'marker';
{#                                el.style.height = '40px';#}
{#                                el.style.width = '40px';#}
                                img = document.createElement('img');
                                var svg = ['<svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 200 200"><g class="transform-group"><g transform="scale(0.01953125, 0.01953125) rotate(',pushpins[i].num1,',500,500)"><path d="M730.214 877.238l50.625-42.662-47.408-484.26c125.086-132.575 169.91-189.211 152.455-212.15-22.94-17.456-79.576 27.316-212.15 152.455l-484.261-47.461-42.662 50.625 368.982 150.979-184.148 185.731-116.016-30.955-81.105 56.32 144.756 59.958c-4.115 3.375-34.964 39.393-37.283 62.279-0.106 1.213 0.738 1.793 1.793 2.109 0.317 1.055 0.949 1.952 2.109 1.793 22.887-2.32 58.904-33.17 62.279-37.283l59.958 144.756 56.32-81.106-30.955-116.016 185.73-184.148 150.979 369.036z" fill="#ea8010"></path></g></g></svg>'];
                                img.src = svg.join('');
                                img.style.width = '40px';
                                img.style.height = '40px';
                                el.appendChild(img);
                                // add marker to map
                                var m = new mapboxgl.Marker(el)
                                    .setLngLat([pushpins[i].lon, pushpins[i].lat])
                                    .addTo(map);
                                console.log(m.getElement());

                    }
                    console.log(new Date().getSeconds())
                    console.log("Successfully draw pushpins")
                }
            })
        }
        test();
    </script>

</body>

</html>
