<!DOCTYPE HTML>
<html>

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Nav CSS -->
    <link href="../static/css/custom.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- Graph JavaScript -->
    <script src="../static/js/d3.v3.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.js"></script>
    <!-- Vue.js -->
    <script src="../static/js/vue.js"></script>
    <!-- Mapbox GL -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
<style>
.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}
</style>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">民航大数据</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>#</th>
                                <th>Column heading</th>
                                <th>Column heading</th>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>机型：</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>代码：</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>高度：</td>
                                <td>Column content</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>发动机型号：</td>
                                <td>Column content</td>
                            </tr>
                            </tbody>
                        </table>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    </div>
    <div id="page-wrapper">
        <div class="graphs">
            <!-- 4 Buttons -->
            <div class="col_3">
                <div class="col-md-3 widget widget1">
                    <div class="r3_counter_box">
                        <i class="pull-left fa fa-thumbs-up icon-rounded"></i>
                        <div class="stats">
                            <h5><strong>机场</strong></h5>
                            <span>机场分布信息</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 widget widget1">
                    <a href="/airline">
                        <div class="r3_counter_box">
                            <i class="pull-left fa fa-users user1 icon-rounded"></i>
                            <div class="stats">
                                <h5><strong>航线</strong></h5>
                                <span>航线分布信息</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 widget widget1">
                    <div class="r3_counter_box">
                        <i class="pull-left fa fa-comment user2 icon-rounded"></i>
                        <div class="stats">
                            <h5><strong>航班</strong></h5>
                            <span>实时航班数据</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 widget">
                    <div class="r3_counter_box">
                        <i class="pull-left fa fa-dollar dollar1 icon-rounded"></i>
                        <div class="stats">
                            <h5><strong>航区</strong></h5>
                            <span>航区分布信息</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="span_11">
                <!-- Bing 地图 -->
                <div id="map" style="width:100%;height:600px;">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
    <script type='text/javascript'>
        console.log("Drawing main map...");

        //mapbox GL地图函数
        mapboxgl.accessToken = 'pk.eyJ1Ijoic3R1cGlnIiwiYSI6ImNpanV2c211bTBoaGp0c204cDFhNGltMW8ifQ.i2d7l3ljIr4GvyLWj6Hh3w';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            zoom: 5,
            minZoom: 2,
            center: [116.46, 39.92],
            renderWorldCopies: true,
        });
        map.on('zoomend',function () {
            test1();
        })
        map.on('moveend',function(){
            test1();
        })

        map.on('click', function (e) {
            if(e.originalEvent.target.id.match('flight_marker'))
            {
                document.getElementsByClassName('table')[0].innerHTML = '这是table'
                id = e.originalEvent.target.id.replace('flight_marker_','')
                jQuery.ajax({
                    url: "/getDataByID/" + id,
                    success: function (data) {
                        console.log(data);
                    }
            })


                console.log(e.originalEvent.target.id);
            }

        })

        function stdlnglat(lnglats){
            s = []
            lnglats.forEach(function (array) {
                array.forEach(function (num) {
                    s.push(Math.ceil(num))
                })
            })
            return s;
        }
        function test() {
            jQuery.ajax({
                url: "/getDataByDate/2017-01-23",
                success: function (data) {
                    console.log(new Date().getSeconds())
                    console.log("Successfully load data from API server.");

                    for(var i in data) {
                        var img = document.createElement('img');
                            img.src = '../static/images/airplane_2.svg'
                            img.style.width = '30px';
                            img.style.height = '30px';

                            // add marker to map
                            var m = new mapboxgl.Marker(img)
                                .setLngLat([data[i].lon,data[i].lat])
                                .addTo(map);
                    }
                    console.log(new Date().getSeconds());
                    console.log("Successfully draw pushpins");
                }
            })
        }
        function test1() {
            jQuery.ajax({
                url: "/getDataByRect/"+stdlnglat(map.getBounds().toArray())+','+Math.ceil(map.getZoom()),
                success: function (data) {
                    parent = document.getElementsByClassName('mapboxgl-canvas-container mapboxgl-interactive')[0];
                    while(parent.childNodes.length > 1)
                    {
                        parent.removeChild(parent.lastChild);
                    }
                    for(var i in data) {
                        var img = document.createElement('img');
                            img.src = '../static/images/airplane_2.svg';
                            img.id = 'flight_marker_' + data[i].id;
                            img.style.width = '30px';
                            img.style.height = '30px';

                            // add marker to map
                            var m = new mapboxgl.Marker(img)
                                    .setLngLat([data[i].lon,data[i].lat])
                                    .addTo(map);
                    }
                }
            })
        }
        function getTableHTML() {

        }
        test1();
    </script>

</body>

</html>
